<!DOCTYPE html>
<html>
<head>
	<title>Ejemplo auxiliar 2</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Profesor de Cátedra</h1>
	<h2>Víctor Hernández M.</h2>

	<h3>Profesor Auxiliar</h3>
	<h4>Javiera Ovalle T.</h4>
	<h4>Jorge Pinto</h4>
	<h4>José Canto</h4>
	<h4>Macarena V. Osorio A.</h4>

	<h5>Ayudante</h5>
	<h6>Carlos Alberto Vega Hernández</h6>
	<h6>Catalina Martin D.</h6>
	<h6>Eduardo Valerio C.</h6>
	<h6>Juan Gutiérrez T.</h6>
	<h6>Matías Rojas</h6>
	<h6>Nicolás Villa Contardo</h6>
	<h6>Sebastián Donoso</h6>
	<h6>Sofia Herrera</h6>
	<h6>Victoria Arce A.</h6>

	
		
	<a href="{% url 'index' %}">Volver a la pagina principal</a>
	<a href="{% url 'peliculas' %}">Mis peliculas favoritas</a>


</body>
</html>